.about-whoweare {
    padding: 60px 0 100px 0;
}
.about-whoweare img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-whoweare .about-who-content {
    background: linear-gradient(130deg, rgba(0,8,41,1) 0%, rgba(2,19,73,1) 100%);
    border-bottom: 3px solid #009dce;
    padding: 30px;
    height: 100%;
}
.about-who-content-title{
   
    font-size: 20px;
    color:#fff;
    margin-bottom: 20px;
}
.about-whoweare .common-para{
    color: #fff;
    font-weight: 300;
    margin-bottom: 0;
    margin-bottom: 40px;
    line-height: 2.5;
    opacity: .75;
    font-size: 13px;
}


 /* -----common responsive css---- */
 @media only screen and (max-width : 1399px){
  
 }
 @media only screen and (max-width : 1265px){
    
 }
 
 @media only screen and (max-width : 1199px){
    
    
 }
 
 @media only screen and (max-width : 1024px) {
   
 }
 
 @media only screen and (max-width :991px) {
    .about-whoweare .common-heading
    {
        justify-content: center;
    }
  .about-row{
    padding: 0 100px;
  }
  .about-whoweare .about-who-content{
    text-align: center;
  }


    
 }
 
 @media only screen and (max-width : 950px){
    
 }
 @media only screen and (max-width : 930px){
   
   
 }
 
 
 
 @media only screen and (max-width : 767px) {
     
  .about-row {
    padding: 0 70px;
}
     
    
 }
 
 @media only screen and (max-width : 645px){
    
 
 }
 
  @media only screen and (max-width : 575px) {
   
  
 
 }
 
 @media only screen and (max-width : 480px) {
    
}

@media only screen and (max-width : 430px)
 { 
  .about-row{
    padding: 0 20px;
  }
}
 
 
@media only screen and (max-width : 380px) {
 
   }
 
 @media only screen and (max-width : 320px) {
 
   
 
 }

