.about-whoweare {
    padding: 60px 0 100px 0;
}
.about-whoweare img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-whoweare .about-who-content {
    background: linear-gradient(130deg, rgba(0,8,41,1) 0%, rgba(2,19,73,1) 100%);
    border-bottom: 3px solid #009dce;
    padding: 30px;
    height: 100%;
}
.about-who-content-title{
   
    font-size: 20px;
    color:#ccc;
    margin-bottom: 30px;
}
.about-whoweare .common-para{
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    margin-bottom: 40px;
    line-height: 1.7;
    opacity: .75;
}