.blog-detail
{
   
    padding: 80px;
    border-bottom: 1px solid #dee2e6 !important;
    background-color: #f4f6ff;
}

.blog-detail-wrapper
{
    text-align: center;
}
.blog-left-wrapper
{
    padding-right: 50px;
}
.blog-left-wrapper p
{
 font-size: 14px;
 color: #000;
 font-weight: 400;
 line-height: 1.5;
 opacity: .75;
}
.blog-detail-wrapper .blog-detail-pic-box img{
    object-fit: contain;
    height: 350px;
    width: 400px;
    /* border-radius: 50%;
    border: 4px solid #009DCE; */
}
.blog-detail-wrapper .blog-detail-pic-box .blog-pic-name
{
    color: #000;
    margin-bottom: 3px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
}
.blog-detail-wrapper .blog-detail-pic-box .blog-pic-date
{
  color: rgba(0, 0, 0, 0.5);
  text-transform:uppercase;
}
.blog-detail-wrapper .blog-detail-title
{
    margin-top: 35px;
    font-size: 32px;
    font-weight: 700;
}


.blog-detail-title{
    font-size: 26px!important;
    font-weight: 600;
    margin-top: 20px;
}
.blog-detail-wrapper .blog-detail-subtitle
{
    font-size: 18px;
    color: #888;
}
.single-blog-pic
{
    height: 500px;
    object-fit: cover;
}
.blog-detail-wrapper blockquote
{
    font-style: italic;
    padding-left: 25px;
    border-left: 2px solid #000;
    color: #888;
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
}

.blog-detail-related
{
    padding: 60px 0;
}
.blog-detail-related .related-card 
{
    margin-bottom: 35px;
}
.blog-detail-related .related-card .realted-card-pic
{
    height: 100%;
}
.blog-detail-related .related-card img
{
    height: 180px;
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
}
.blog-detail-related .related-card .top p
{
    color: #222;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}
.blog-detail-related .related-card .top p span{
    color: #999;
    font-weight: 300;
}
.related-card-content .middle-title
{
    
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 5px;
}
.blog-detail-related .related-card .middle-subtitle
{
    color: #888;
    font-size: 14px;
}
.blog-detail-related .related-card  .lower
{
    display: flex;
    align-items: center;
}
.blog-detail-related .related-card  .lower .published-content
{
    padding-left: 20px;
}
.blog-detail-related .related-card .published-pic img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.published-title
{
    color: #222;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0;
}
.published-date
{
    color: #888;
    font-size: 12px;
    margin-bottom: 0;
   letter-spacing: .2px;
}

.blog-detail-wrapper
{
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.single-blog-page .blog-right-wrapper .search-box-wrapper
{
  position: relative;
  border-bottom: 3px solid #007DFF;
}
.single-blog-page .blog-right-wrapper .search-box-wrapper input.form-control
{
    border-radius: 0;
    background:#01092d;
    padding: 10px 17px;
    border:0;
    color:#fff;
}
.single-blog-page .blog-right-wrapper .search-box-wrapper input.form-control::placeholder
{
    color: #fff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2px;
}
.single-blog-page .blog-right-wrapper .search-box-wrapper .search-btn
{
    border-radius: 0;
    background: #009DCE;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-blog-page .blog-right-wrapper .search-box-wrapper .search-btn svg{
    height:20px;
    width: 20px
}

.single-blog-page .blog-right-wrapper .recent-post-box
{
    border: 3px solid #007DFF;
    padding: 10px 12px;
}
.single-blog-page .blog-right-wrapper .recent-post-box p,
.single-blog-page .blog-right-wrapper .bottom-blog a .bottom-blog-heading {

    padding-top: 10px;
    margin-bottom:14px;
    color:#212121;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 300;
    border-top: 1px solid #0058B3;

}
.single-blog-page .blog-right-wrapper .recent-post-box p a
{
    color: #000;
    text-decoration: none;
    font-weight: 400;
}
.blog-right-wrapper-heading
{

    color: #212121;
    font-weight: 700;
    font-size: 14px;
    margin: 15px 0;
}