
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family:TrajanPro-Bold;
    src: url('../Offline-font/TrajanPro-Bold.otf');
}
@font-face {
    font-family:TrajanPro-Regular;
    src: url('../Offline-font/TrajanPro-Regular.ttf');
}
/* ----------------------commoncss------------------- */
body{
    font-family: 'Inter', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.f1{
    font-family: 'Inter', sans-serif;
}
.f2{
    font-family:TrajanPro-Bold;
}
.f3
{
    font-family:TrajanPro-Regular;
}

.common-container-fluid-adjust-padding{
    padding: 0 90px;
}
.common-para{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
}

.common-para-second
{
    color: #2B2B2B;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
}




.common-btn{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #009DCE;
    text-decoration: none;
    padding: 8px 40px;
    border: 2px solid #009dce;
    display: inline-block;
    overflow: hidden;
	transition: all 0.4s cubic-bezier(.86, .01, .15, .99);
    transform: perspective(1px) translateZ(0);
    transition: 0.4s;
}
.common-btn::before{
    content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0;
    background: #009dce;
	clip-path: inset(0 100% 0 0);
	opacity: 1;
	transition: 0.4s;
}
.common-btn:hover::before{
    clip-path: inset(0 0 0 0);
}
.common-btn:hover{
    color: #fff;
}


/* 
.common-btn:hover{
    color: #009DCE;
} */
.common-heading{
    text-align: center;
    display: inline-block;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #009DCE;
    font-size: 35px;
    margin-bottom: 35px;
}
.common-heading .bar{
   
    width: 40px;
    height: 2px;
    background:#009DCE;
    display: inline-block;
}
.common-heading .bar.one{
    margin-right: 5px;
}
.common-heading .bar.two{
    margin-left: 5px;
}
.common-submit{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 20px 70px;
   background-color: #009DCE;
    display: inline-block;
}
.form-control:focus
{
    box-shadow: none;
    outline: none;
}

.common-redirect-banner {
    background: url('../Images/redirect-banner.jpg') center center;
    background-size: cover;
    position: relative;
    padding: 70px 0;
    display: flex;
    align-items: center;
}

.common-redirect-banner::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    content: '';
    background: rgba(0, 0, 0, .65);
}

.common-redirect-banner-title {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 2;
}

.breadcrumb {
    position: relative;
    font-weight: 700;
}

.breadcrumb .active {
    color: #009DCE;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
textarea{
    resize: none;
}
/* ------------------------common modal css----------------- */
.common-booking-modal .modal-content{
border-radius: 0;


}
.common-booking-modal .modal-header{
    border-radius: 0;
    background: #009DCE;
    padding: 15px!important;
}
.common-booking-modal .modal-header .modal-title{
    width: 100%;
    
    color: #fff;
}
.common-booking-modal .modal-content label{
    color: #666;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 3px;
}
.common-booking-modal .modal-content .form-control{
  border:0;
  border-bottom: 2px solid #e5e5e5;
  border-radius: 0;
  font-size: 13px;
}
.common-booking-modal .modal-content div.text-danger{
  font-size: 10px;
}
.common-booking-modal .modal-content .form-group{
    margin: 5px 0;
}
.common-booking-modal .modal-content .common-btn{
    background-color: #009DCE;
}
.common-booking-modal .btn-close{
    background-image: none!important;
    background: #fff;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    color: #009DCE;
}

/* ------------------------common-core-values----------------------- */
.common-core-values{
    padding: 60px 0;
}
.core-value-card-wrapper{
    display: flex;
    padding-left: 0;
    list-style-type: none;
    flex-grow: 1;
    margin-bottom: 0;
}
.core-value-card{
  
    flex-grow: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.core-value-pic
{
    padding: 40px 50px;
    text-align: center;
   
}

.core-value-pic img{
    filter: invert(1);
    height: 120px;
    width: 120px;
}
.core-value-card.one{
    background-color: #6fb9a0;
}
.core-value-card.two{
    background-color: #cf6152;
}
.core-value-card.three{
    background-color: #efc258;
}
.core-value-card.four{
    background-color: #d9766a;
}
.core-value-title{
    padding: 15px 20px;
    text-align: center;
    background: rgba(0,0,0,.35);
    margin-top: 20px;
}
.core-value-title p{
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
}
.core-value-heading{
    color: #525355;
    font-weight: 900;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 90px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1;
    padding: 15px 0;
}
.core-value-card-wrapper.invert{
    transform: rotate(180deg);
}
.core-value-card-wrapper.invert .core-value-title p{
    transform: rotate(180deg);
}
.core-value-card-wrapper.invert .core-value-pic img
{
    transform: rotate(180deg);
}
.core-value-card-wrapper.invert .one{
    background-color:#8e76b0;
}
.core-value-card-wrapper.invert .two
{
   background-color:#7c8488;
}
.core-value-card-wrapper.invert .three
{
   background-color:#65a8dd;
}
.core-value-card-wrapper.invert .four
{
   background-color:#9fc54c;
}



 /* -----common responsive css---- */
 @media only screen and (max-width : 1399px){
  
 }
 @media only screen and (max-width : 1265px){
    
 }
 
 @media only screen and (max-width : 1199px){
    .common-heading{
        font-size: 30px;
    }
    .common-para,.common-para-second{
        font-size: 13px;
    }
    .common-btn{
        font-size: 12px;
        padding: 6px 40px;

    }
    .home-appointment img{
        height: 400px;
    }
    .common-submit{
        padding: 12px 60px;
        border:0;
    }
 }
 
 @media only screen and (max-width : 1024px) {
   
 }
 
 @media only screen and (max-width :991px) {
    .common-redirect-banner-title{
        font-size: 33px;
    }
    .breadcrumb{
        font-size: 14px;
    }
   
 }
 @media only screen and (max-width : 767px) {
    .common-redirect-banner-title{
        font-size: 25px;
        margin-bottom: 5px;
    }
    .breadcrumb{
        font-size: 13px;
    }
   
    .common-para,.common-para-second
    {
        font-size: 12px;
    }
    .common-btn {
        font-size: 11px;
        padding: 4px 30px;
    }
    .common-heading{
        font-size: 26px;
    }
    header .navbar-brand img{
        height: auto;
    }
 }
 @media only screen and (max-width : 575px) {
    .training-single{
        padding-bottom: 20px;
    }
 
 }
 
 
 @media only screen and (max-width : 480px) {
  
  
 
 }
 @media only screen and (max-width : 430px)
 { 
    .common-submit{
        padding: 10px 36px;
    border: 0;
    font-size: 11px;
    }
  
   }
 
 @media only screen and (max-width : 320px) {
 
   
 
 }