.footer-page ul {
    list-style: none;
    padding-left: 0;
  }
  .footer-page li {
    margin-bottom: 8px;
    font-weight: 400;
    color: #002A53;
    font-size: 13px;
  }
  .footer-page a {
        color: inherit;
        text-decoration: none;
  }

  .footer-page {
    background-image: url('../Images/grid.png');
    padding: 60px 0;
    background-size: cover;
    background-color: #ededed;
    padding-bottom: 0;
  }

.footer-page .footer-title {
    font-weight: 700;
    color: #009DCE;
    font-size: 18px;
}

.footer-page .footer-content {
    color: #002A53;
    font-weight: 400;
    font-size: 13px;
}

.footer-page .footer-contact-icons {
    display: flex;
}
.footer-page .footer-contact-icons svg{
  height: 20px;
  width: 20px;
}

.footer-page .footer-contact-details {
    padding-left: 10px;
}

.footer-page .copyright {
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 10px;
    margin: 70px 0 0 0;
    padding: 10px 0;
    background: linear-gradient(89.29deg, #020224 0.57%, #000E30 53.1%, #000F30 100.44%);
}
.footer-page .copyright .developed-by {
    color: #009DCE;
}

.timing-box{
  display: flex;
  margin-bottom: 5px;
  
}
.timing-box .left p{
  margin-bottom: 0;
}
.timing-box .left{
  margin-right: 8px;
  width: 35%;
}
.timing-box .right span{
  font-size: 11px;
  display: block;
}

 /* -----common responsive css---- */
 @media only screen and (max-width : 1399px){
  
 }
 @media only screen and (max-width : 1265px){
    
 }
 
 @media only screen and (max-width : 1199px){
    .footer-contact-icons svg{
      
        height: 18px;
        width: 18px;
    }
  
 }
 
 @media only screen and (max-width : 1024px) {
   
 }
 
 @media only screen and (max-width :991px) {
   
  .timing-box .left{
    width: 45%;
  }
 }


 @media only screen and (max-width : 767px) {
   
 }
 @media only screen and (max-width : 575px) {
   
 
 }
 
 
 @media only screen and (max-width : 480px) {
  
  .footer-page{
    padding: 30px 0 0 0;
  }
  .footer-page .footer-title{
    font-size: 16px;
  }
  .footer-page li{
    font-size: 12px;
  }
  .footer-page .footer-content{
    font-size: 12px;
  }
  .footer-page .copyright{
    margin: 30px 0 0  0;
  }

  .timing-box .left{
    width: 45%;
  }
  .timing-box .right span{
    font-size: 10px;
  }

 }
 @media only screen and (max-width : 430px)
 { 
   
  
   }
 
 @media only screen and (max-width : 320px) {
 
   
 
 }