/* -----------header css---------------------------- */

header{
    position: sticky;
    top: 0;
    left:0;
    width: 100%;
    z-index: 100;
 
    background: linear-gradient(130deg, rgba(0,8,41,1) 0%, rgba(2,19,73,1) 100%);
}

header nav.navbar{
    display: flex;
    align-items:flex-start;
    align-items: center;
}


header nav .nav-link{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 200;
    margin-right: 5px;
    padding: 5px 13px!important;
    cursor: pointer;
}
header .book-now{
    border: 1px solid #009DCE;
    
    font-weight: 700!important;
    color: #009DCE!important;
}
header .book-now:hover{
    border:1px solid #fff!important;
}
.nav-link:focus, .nav-link:hover
{
    color:#fff!important;
}



header nav .nav-link:hover{
    color: #fff;
}
header nav .nav-link.current{
    background: #009DCE;
border-radius: 5px;
font-weight: 700;

}
header .navbar-brand {
   width:18%;
}
header .navbar-brand  img{
    height: 60px;
}
.navbar-toggler{
    background-color: #E0F0FF;
    color: #009DCE;
    padding: 0;
    border-radius: 0;
}
.navbar-toggler-icon{
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

:focus-visible{
    outline:none;
}
.navbar-toggler:focus
{
    box-shadow: none;
}

/* -----common responsive css---- */
@media only screen and (max-width : 1399px){
  
}
@media only screen and (max-width : 1265px){
    header nav .nav-link{
        padding: 5px 15px!important;
    }
}

@media only screen and (max-width : 1199px){
    header nav .nav-link{
        font-size: 14px;
    }
}
@media only screen and (max-width : 1035px){
    header nav .nav-link{
        padding: 5px 15px!important;
    }
    header nav .nav-link{
        font-size: 13px;
    }
}
@media only screen and (max-width : 1024px) {
  
}

@media only screen and (max-width :991px) {
    header nav .nav-link{
        display: inline-block;
    }
    header nav .nav-link.current{
    
        background-color: transparent;
      
        font-weight: 700;
        text-decoration: underline;

    }
    .navbar-nav{
        padding-bottom: 20px;

    }
    header .book-now{
        margin: 8px 0 0 12px;
    }
}
@media only screen and (max-width : 767px) {
  
}
@media only screen and (max-width : 575px) {
  

}


@media only screen and (max-width : 480px) {
 
    header .navbar-brand img{
        height: auto;
    }

}
@media only screen and (max-width : 430px)
{ 
  
 
  }

@media only screen and (max-width : 320px) {

  

}