/* -------------service single page--------------------------- */
/* .service-single-page{ */
    /* padding: 60px 0 100px 0; */
/* } */
.service-single-page-left{
   background-image: url("../Images/service-single.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
}
.service-single-page-left img{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
.service-single-page-card{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    padding: 45px 25px;
    text-align: center;
    cursor: pointer;
}
.service-single-page-card svg{
    height: 50px;
    width: 50px!important;
}
.service-single-page-card svg path{
    fill:#009DCE;
}
.service-single-page-card:hover{
    background-color:#009DCE ;
}
.service-single-page-card:hover svg path{
    fill:#fff;
}
.service-single-page-card:hover .service-single-page-card-title{
    color: #fff;
}

.service-single-page-card .service-single-page-card-title{
    font-size: 22px;
 
    margin: 13px 0;
    font-weight: 500;
}
.service-single-page-card .sub-para{
    color: #999;
    font-size: 16px;
    letter-spacing: 1px;
}
.service-single-page-card:hover .sub-para{
    color: #fff;
}
/*-----service-detail-single-------*/
.service-detail-single {
    padding: 60px 0 100px 0;
}
.service-detail-single .upper-pic {
    padding-bottom: 20px;
}

.service-detail-single .upper-pic img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.service-detail-single .common-para {
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
}

.service-detail-single .colored-heading {
    font-size: 20px;
    color:#009DCE;
    font-weight: 500;
   
}

.service-detail-single .left li {
    padding: 5px 0
}

.service-detail-single ::marker {
    color:#009DCE;
}

.service-detail-single .left .accordian-box .accordian-card {
    padding: 20px 0;
}

.service-detail-single .left .accordian-box .accordian-title {
      font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.service-detail-single .left .accordian-box .accordian-title span {
    color:#009DCE;
}

/* --------------------procedure-------------- */
.procedure{
    padding: 60px 0 100px 0;
    background: linear-gradient(130deg, rgb(0 11 50) 0%, rgba(2,19,73,1) 100%);
}
.procedure .procedure-card{
  
   background-color: #fff;
   margin-bottom: 30px;
}

.procedure .procedure-card .procedure-heading
{
  font-weight: 600;
  color: #009DCE;
  font-size: 18px;
}
.procedure .procedure-card ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.procedure .procedure-card ul li{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* Start from this section   Abhishek singh */ 


.service-ppt .common-heading {
    font-size:26px;
    margin-bottom: 15px;
    font-family: serif;
}

.service-ppt ol{
    font-size: large;
    color: #000;
}
.service-ppt ol li{
    padding: 5px 0;
}
.service-gestro li {
    margin-bottom: -24px;
}

.service-gestro .gestro-link{
    color: red;
}
 .gestro-data{
    margin: 20px;
}
.service-ppt {
    padding: 50px 0;
}

.service-medic ol{
    line-height: 2.5;
}
.service-medic span{
    color: red;
}
.service-medic .common-heading{
    font-family: serif;
}

.service-ppt ul{
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}
.service-ppt h3{
    font-size: 18px;
}
.service-ppt span{
    color: red;
    font-style: italic;
}
ul.list-circle
{
    list-style-type: disc;
}




/* -----common responsive css---- */
 @media only screen and (max-width : 1399px){
  
 }
 @media only screen and (max-width : 1265px){
    
 }
 
 @media only screen and (max-width : 1199px){
    
    
 }
 @media only screen and (max-width : 1055px){
    
    .service-single-page-card .service-single-page-card-title{
        font-size: 18px;
    }
    .procedure .procedure-card ul li{
        font-size: 14px;
    }
 }

 @media only screen and (max-width : 1024px) {
   
 }
 @media only screen and (max-width :905px) {
  
    .service-single-page-card{
        padding: 20px ;
    }
    
 }
 
 @media only screen and (max-width :991px) {
  

    
 }
 
 @media only screen and (max-width : 950px){
    
 }
 @media only screen and (max-width : 930px){
   
   
 }
 
 
 
 @media only screen and (max-width : 767px) {
     
    .service-single-page-card .service-single-page-card-title{
        font-size: 16px;
    }
     
    
 }
 
 @media only screen and (max-width : 645px){
    
 
 }
 
  @media only screen and (max-width : 575px) {
   
    .procedure .procedure-card{
        padding: 8px!important;
    }
    .procedure .procedure-card ul li{
        font-size: 12px;
    }
    .service-single-page-card{
        padding: 10px;
    }
    .service-single-page-card .service-single-page-card-title{
        font-size: 14px;
    }
 
 }
 
 @media only screen and (max-width : 480px) {
    
}

@media only screen and (max-width : 430px)
 { 
  
    .service-single-page-card .service-single-page-card-title{
        font-size: 12px;
    }
    .service-single-page-card{
        padding: 5px;
    }
}
 
 
@media only screen and (max-width : 380px) {
 
    

   }
 
 @media only screen and (max-width : 320px) {
 
   
 
 }

